<app-loading *ngIf="!website"></app-loading>
<div class="row" *ngIf="website">
  <div class="col-lg-5 pt-5">
    <mdb-card>
      <mdb-card-body>
        <h3>Website</h3>
        <br/>
        <table class="table">
          <tr>
            <td>Url</td>
            <td>{{website.url}}</td>
          </tr>
          <tr>
            <td>Created</td>
            <td>{{website.created}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{website.status}}</td>
          </tr>
        </table>
        <div class="row pt-2">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <button mdbBtn
                    *ngIf="website.status === 'active'"
                    (click)="setStatus('inactive')"
                    class="btn btn-warning" type="submit" size="sm" [block]="true">
              Deactivate
            </button>
            <button mdbBtn
                    *ngIf="website.status === 'inactive'"
                    (click)="setStatus('active')"
                    class="btn btn-success" type="submit" size="sm" [block]="true">
              Activate
            </button>
          </div>
          <div class="col-lg-4">
            <button mdbBtn
                    (click)="delete()"
                    class="btn btn-danger" type="submit" size="sm" [block]="true">
              Delete
            </button>
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-lg-7">
    <app-page-tile *ngFor="let page of website.pages" [page]="page" [website]="website"></app-page-tile>
    <app-new-path-form [website]="website"></app-new-path-form>
  </div>
</div>
