<app-component-editor-header [editorName]="'Margins'"></app-component-editor-header>
<div *ngIf="component" class="row" style="color: #757575">
  <div class="col-12">

    <div class="md-form-select2" style="margin-top: 6px;">
      <label>Margin top</label>
      <ng-select2 [data]="marginSizesSelect"
                  [(ngModel)]="component.marginTop"
                  [value]="component.marginTop">
      </ng-select2>
    </div>

    <div class="md-form-select2" style="margin-top: 6px;">
      <label>Margin bottom</label>
      <ng-select2 [data]="marginSizesSelect"
                  [(ngModel)]="component.marginBottom"
                  [value]="component.marginBottom">
      </ng-select2>
    </div>

    <div class="md-form-select2" style="margin-top: 6px;">
      <label>Margin left-right</label>
      <ng-select2 [data]="marginSizesSelect"
                  [(ngModel)]="component.marginLeftRight"
                  [value]="component.marginLeftRight">
      </ng-select2>
    </div>

  </div>
</div>

