<h5>Change password</h5>
<app-loading *ngIf="duringPasswordChange"></app-loading>
<div *ngIf="!duringPasswordChange">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="md-form">
        <label for="input-old-password">Old password</label>
        <input mdbInput [(ngModel)]="oldPassword" [class.is-invalid]="errors['oldPassword']"
               type="password" id="input-old-password" name="oldPassword" class="form-control" autocomplete="off">
        <div class="invalid-feedback" *ngIf="errors['oldPassword']">
          {{errors['oldPassword']}}
        </div>
      </div>

      <div class="md-form">
        <label for="input-new-password">New password</label>
        <input mdbInput [(ngModel)]="newPassword" [class.is-invalid]="errors['newPassword']"
               type="password" id="input-new-password" name="newPassword" class="form-control" autocomplete="off">
        <div class="invalid-feedback" *ngIf="errors['newPassword']">
          {{errors['newPasswordVerify']}}
        </div>
      </div>

      <div class="md-form">
        <label for="input-new-password-verify">New password verify</label>
        <input mdbInput [(ngModel)]="newPasswordVerify" [class.is-invalid]="errors['newPasswordVerify']"
               type="password" id="input-new-password-verify" name="newPasswordVerify" class="form-control"
               autocomplete="off">
        <div class="invalid-feedback" *ngIf="errors['newPasswordVerify']">
          {{errors['newPasswordVerify']}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6"></div>
    <div class="col-5">
      <button mdbBtn
              (click)="changePassword()"
              type="button" color="primary" [block]="true">Change password
      </button>
    </div>
  </div>
</div>
