<div
  class="drop-list-zone"
  cdkDropList
  cdkDropListSortingDisabled
  [cdkDropListData]="this"
  (cdkDropListDropped)="dropped($event)"
  [cdkDropListConnectedTo]="dropListConnectedTo()"
  style="height: 100%"
>
  <div cdkDrag [cdkDragData]="{definition: {name: 'HtmlComponent', content:'Html'}}">HtmlComponent</div>
  <div cdkDrag [cdkDragData]="{definition: {name: 'ThreeColumnsComponent'}}">ThreeColumns</div>
  <div cdkDrag [cdkDragData]="{definition: {name: 'NoneComponent'}}">NoneComponent</div>
</div>
