<div
  class="drop-list-zone"
  cdkDropList
  cdkDropListSortingDisabled
  [cdkDropListData]="this"
  (cdkDropListDropped)="dropped($event)"
  [cdkDropListConnectedTo]="dropListConnectedTo()"
  style="height: 100%"
>
  <app-component-html-preview cdkDrag [cdkDragData]="{definition: {name: 'HtmlComponent'}}"> </app-component-html-preview>
  <app-component-image-preview cdkDrag [cdkDragData]="{definition: {name: 'ImageComponent'}}"></app-component-image-preview>
  <app-component-background-image-preview cdkDrag [cdkDragData]="{definition: {name: 'BackgroundImageComponent'}}"></app-component-background-image-preview>
  <app-component-margins-preview cdkDrag [cdkDragData]="{definition: {name: 'MarginsComponent'}}"></app-component-margins-preview>
  <app-component-three-columns-preview cdkDrag [cdkDragData]="{definition: {name: 'ThreeColumnsComponent'}}"></app-component-three-columns-preview>
</div>
