<div class="row">
  <div class="col-md-12 col-lg-12">
    <mdb-card>
      <mdb-card-body style="min-height: 60vh">
        <h3>Domains</h3>
        <app-loading *ngIf="domains.length === 0"></app-loading>
        <table class="table table-striped table-hover">
          <tr *ngFor="let domain of domains">
            <td>{{domain.domain}}</td>
            <td>
              <span *ngIf="!domain.isGlobal">(private)</span>
              <span style="color: rgba(30, 200, 30, 0.8);" *ngIf="domain.isGlobal">(public)</span>
            </td>
            <td>
              <span style="color: rgba(200, 30, 30, 0.8);" *ngIf="!domain.isVerified">Not verified</span>
            </td>
            <td>
              <span style="cursor: pointer" *ngIf="!domain.isGlobal">
                <i style="color: rgba(0,0,0,0.4)" routerLink="/domain/{{domain.id}}/verification" class="fas fa-clipboard-check"></i>
              </span>
            </td>
          </tr>
        </table>
        <button mdbBtn routerLink="/domain/new" type="button" color="success" [block]="true" size="sm">
          Add new domain
        </button>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
