@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~angular-bootstrap-md/assets/scss/bootstrap/bootstrap";
@import "~angular-bootstrap-md/assets/scss/mdb";

html, body {
  height: 100%;
  overflow-x: hidden;
  margin: 0!important;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eeeeee;
}

mdb-card {
  border-radius: 0!important;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}
.cdk-drag-preview {
  opacity: 0.5;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
